<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Oprávnění pro přístup k poloze a internetu -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Galaxytaxi"
        tools:targetApi="31">

        <!-- FinalMileageActivity -->
        <activity
            android:name=".FinalMileageActivity"
            android:exported="false" />

        <!-- DataDoPrehleduActivity -->
        <activity
            android:name=".DataDoPrehleduActivity"
            android:exported="false" />

        <!-- PersonalOverviewActivity -->
        <activity
            android:name=".PersonalOverviewActivity"
            android:exported="false" />

        <!-- ExtraMoneyActivity -->
        <activity
            android:name=".ExtraMoneyActivity"
            android:exported="false" />

        <!-- ExpensesActivity -->
        <activity
            android:name=".ExpensesActivity"
            android:exported="false" />

        <!-- RideInProgressActivity -->
        <activity
            android:name=".RideInProgressActivity"
            android:exported="false" />

        <!-- RideSummaryActivity -->
        <activity
            android:name=".RideSummaryActivity"
            android:exported="false" />

        <!-- NewRideActivity -->
        <activity
            android:name=".NewRideActivity"
            android:exported="false" />

        <!-- MainShiftActivity -->
        <activity
            android:name=".MainShiftActivity"
            android:exported="false" />

        <!-- VehicleSelectionActivity -->
        <activity
            android:name=".VehicleSelectionActivity"
            android:exported="false" />

        <!-- LoginActivity (hlavní obrazovka) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Galaxytaxi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Galaxytaxi" />

    </application>

</manifest>
